@page
@model PrivacyModel
@{
    ViewData["Title"] = "GirisYap";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanat Galerisi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<!-- giriş -->
	<section class="ftco-section ftco-project" id="login">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h1 class="big big-2">LuminoArt</h1>
                    <h2 class="mb-4">Giriş Yap veya Kaydol</h2>
                    <p>Sanatın çeşitliliğini ve derinliğini keşfetmek için bize katılın.</p>
                </div>
            </div>
            <div class="row">
                <!-- Giriş Formu -->
                <div class="col-md-6">
                    <div class="login-form ftco-animate">
                        <h3>Giriş Yap</h3>
                        <form action="#">
                            <div class="form-group">
                                <label for="login-email">Email</label>
                                <input type="email" id="login-email" class="form-control" placeholder="Email adresinizi girin">
                            </div>
                            <div class="form-group">
                                <label for="login-password">Şifre</label>
                                <input type="password" id="login-password" class="form-control" placeholder="Şifrenizi girin">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Giriş Yap" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Kayıt Formu -->
                <div class="col-md-6">
                    <div class="register-form ftco-animate">
                        <h3>Kaydol</h3>
                        <form action="#">
                            <div class="form-group">
                                <label for="register-name">Ad Soyad</label>
                                <input type="text" id="register-name" class="form-control" placeholder="Adınızı ve soyadınızı girin">
                            </div>
                            <div class="form-group">
                                <label for="register-email">Email</label>
                                <input type="email" id="register-email" class="form-control" placeholder="Email adresinizi girin">
                            </div>
                            <div class="form-group">
                                <label for="register-password">Şifre</label>
                                <input type="password" id="register-password" class="form-control" placeholder="Şifrenizi girin">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Kaydol" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
		
  

<!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
