@page
@model IndexModel
@{
    ViewData["Title"] = "VirtuoArt Vault";
}

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanat Galerisi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	  
	  
	  

<!-- Ana sayfa -->

	  <section id="home-section" class="hero">
    	<div class="home-slider owl-carousel">
        	<div class="slider-item">
            	<div class="overlay"></div>
            		<div class="container">
                		<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    		<div class="one-third js-fullheight order-md-last img" style="background-image:url(images/VirtuoArtVaultWight.png);">
                        		<div class="overlay"></div>
                    		</div>
                    		<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        		<div class="text">
                            		<span class="subheading">Merhaba!</span>
                            		<h1 class="mb-4 mt-3"><span>VirtuoArt Vault</span> olarak</h1>
                            		<h2 class="mb-4">Sanatı Dijital Dünyaya Taşıyoruz!</h2>
                        		</div>
                    		</div>
                		</div>
            		</div>
        	</div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url(images/VirtuoArtVaultWight2.png);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm a <span>web designer</span> based in London</h1>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Hire me</a> <a href="#" class="btn btn-white btn-outline-white py-3 px-4">My works</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Sergiler -->
    <section class="ftco-section" id="exhibitions">
    	<div class="container">
    		<div class="row justify-content-center py-5 mt-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">VirtuoArt Vault</h1>
            <h2 class="mb-4">Sergiler</h2>
            <p>Sanatın çeşitliliğini ve derinliğini vurgulayarak izleyicilere ilham veriyoruz. VirtuoArt Vault olarak, sanatın farklı yönlerini keşfetme ve paylaşma odaklı çalışıyoruz.</p>
          </div>
        </div>
    		<div class="row">
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span style="width: 30px; height: 20px;">
    							<!--<img src="images/sergi9.jpg" alt="Your Image Description">-->
							</span>
							<div class="desc">
								<h3 class="mb-5">Muamma ; 2023'e Gayriresmî Anıt</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span class="icon">
								<i class="flaticon-flasks"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Başka Bir Işık Altında</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span class="icon">
								<i class="flaticon-ideas"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Web Developer</h3>
							</div>
						</a>
					</div>

					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span class="icon">
								<i class="flaticon-analysis"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Yerüstünden Notlar III</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span class="icon">
								<i class="flaticon-flasks"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Yeniden Cesur Dünya</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 text-center d-flex ftco-animate">
						<a href="/Sergiler" class="services-1">
							<span class="icon">
								<i class="flaticon-ideas"></i>
							</span>
							<div class="desc">
								<h3 class="mb-5">Obsidyen</h3>
							</div>
						</a>
					</div>
				</div>
    	</div>
    </section>


    <!-- Sanatçılar -->

    <section class="ftco-section ftco-no-pb" id="artists">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-10 heading-section text-center ftco-animate">
          	<h1 class="big big-2">VirtuoArt Vault</h1>
            <h2 class="mb-4">Sanatçılar</h2>
            <p>VirtuoArt Vault, çeşitli sanatçıların eserlerini sergileyerek sanatın evrensel dilini kutlar. Her bir sanatçı, özgün tarzıyla izleyicilere ilham vermeyi amaçlar. Galerimiz, sanatı geniş kitlelere ulaştırarak toplumda duygusal ve estetik bir etki yaratır ve izleyicilerin sanatla etkileşimini teşvik eder.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-6">
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Kader Genç</span>
    					<h2>Karanlık estetiği, öznel karanlık ve gerçeklik yaralarıyla yüzleşme</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Cesur ve sansürsüz bir üslupla dejenere toplumu ve insanlık üzerindeki tahakkümü eleştirel bir yaklaşımla resmediyor.</p>
    				</div>
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Emin Turan</span>
    					<h2>Organik dokular, yerçekimi geometrisi</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Canlı renklerin ve organik dokuların dansıyla insan-doğa ilişkisini sembolik imgelerle işleyen, sürece odaklı bir ressam.</p>
    				</div>
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Rahmi Aksungur</span>
    					<h2>Plastik unsurlarla duygusal değerleri heykellere yansıtır, mekânla ilişkilendirir.</h2>
    					<span class="position">İstanbul Devlet Güzel Sanatlar Akademisi</span>
    					<p class="mt-4">Heykellerinde mekân, izleyici ve iletişim üzerinde durarak, tasarımlarında kütle ve ölçek ilişkisine önem verir.</p>
    				</div>
					<div class="resume-wrap ftco-animate">
    					<span class="date">Hakan Gürsoytrak</span>
    					<h2>Sanatçı, soyut ve figüratif tarzda çalışırken, doğadan, günlük yaşamdan ve içsel dünyasından ilham alır.</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Sanatçının belirgin özelliği, eserlerindeki derin anlam ve duygusal içeriktir.</p>
    				</div>
					<div class="resume-wrap ftco-animate">
    					<span class="date">Nuri İyem</span>
    					<h2>Bağımsız bir resimsel anlayışla soyut ve figüratif tarzda çalışır, yaşadığı topraklardan ve günlük yaşamdan ilham alır.</h2>
    					<span class="position">İstanbul Devlet Güzel Sanatlar Akademisi</span>
    					<p class="mt-4">Eserlerindeki derin anlam ve duygusal içerikle toplumun bağ kurabildiği resimler üretmesidir.</p>
    				</div>
    			</div>

    			<div class="col-md-6">
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Setenay Alpsoy</span>
    					<h2>Şehir yaşamının detaylarını gerçekçi bir üslupla betimleyen sanatçı.</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Karmaşık bina cephelerindeki geometrik düzeni ve şehir yaşamının detaylarını gerçekçi bir yaklaşımla resmeder.</p>
    				</div>
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Cansen Ercan</span>
    					<h2>Plastik unsurların kompozisyon armonisine odaklanır.</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Resimlerinde gözlemlerinden ilham alır, saf bir resimsel ifadeyle tuval üzerinde kompozisyon armonisi oluşturur.</p>
    				</div>
    				<div class="resume-wrap ftco-animate">
    					<span class="date">Nasip İyem</span>
    					<h2>İyem, figüratif ve soyut resimlerinde plastik unsurların kompozisyon armonisine öncelik verir.</h2>
    					<span class="position">İstanbul Devlet Güzel Sanatlar Akademisi</span>
    					<p class="mt-4">Anadolu'nun kadın yaşamını ve kültürünü pişmiş toprak eserlerinde evrensel sanata yansıtır.</p>
    				</div>
					<div class="resume-wrap ftco-animate">
    					<span class="date">Temür Köran</span>
    					<h2>Çok katmanlı yapıtlarında gerçekliği özgün bir üslupla yeniden kurgular ve izleyicinin hayal gücünü tetikleyen açık imgeler kullanır.</h2>
    					<span class="position">Mimar Sinan Güzel Sanatlar Üniversitesi</span>
    					<p class="mt-4">Cesur renk kullanımı ve deneysel yaklaşımıyla plastik unsurları cesurca bir araya getirmesidir.</p>
    				</div>
					<div class="resume-wrap ftco-animate">
    					<span class="date">Devin Oktar Yalkın</span>
    					<h2>Siyah-beyaz minimal öğeleri vurgulayarak yoğun kontrastlı ve mistik bir üslupla fotoğraflarında ruh hallerini ve olayları aktarır.</h2>
    					<span class="position">School of Visual Arts</span>
    					<p class="mt-4">Fotoğraflarında manipülasyon kullanmaması ve izleyiciyi sorular sormaya teşvik etmesidir.</p>
    				</div>
    			</div>
    		</div>
    		<div class="row justify-content-center mt-5">
    			<div class="col-md-6 text-center ftco-animate">
    				<p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
    			</div>
    		</div>
    	</div>
    </section>


		
	
 
 <!-- Sanat Eserleri -->

    <section class="ftco-section ftco-project" id="projects-section">
    	<div class="container">
    		<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big big-2">VirtuoArt Vault</h1>
            <h2 class="mb-4">Sanat Eserleri</h2>
            <p>Sanatın çeşitliliğini ve derinliğini vurgulayarak izleyicilere ilham veriyoruz. VirtuoArt Vault olarak, sanatın farklı yönlerini keşfetme ve paylaşma odaklı çalışıyoruz.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi1.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="/Sergiler">Muamma ; 2023'e Gayriresmî Anıt</a></h3>
	    					<span>Kader Genç</span>
	    				</div>
    				</div>
  				</div>
  				<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi2.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Başka Bir Işık Altında</a></h3>
	    					<span>Setenay Alpsoy</span>
	    				</div>
    				</div>
  				</div>

    			<div class="col-md-8">
    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi3.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Obsidyen</a></h3>
	    					<span>Devin Oktar Yalkın</span>
	    				</div>
    				</div>

    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi4.jpg);">
    					<div class="overlay"></div>
	    				<div class="text text-center p-4">
	    					<h3><a href="#">Başka Bir Işık Altında</a></h3>
	    					<span>Setenay Alpsoy</span>
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="row">
    					<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi11.jpeg);">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="#">Yeniden Cesur Dünya</a></h3>
			    					<span>Rahmi Aksungur</span>
			    				</div>
		    				</div>
	    				</div>
	    				<div class="col-md-12">
		    				<div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url(images/sergi9.jpg);">
		    					<div class="overlay"></div>
			    				<div class="text text-center p-4">
			    					<h3><a href="#">Muamma ; 2023'e Gayriresmî Anıt</a></h3>
			    					<span>Kader Genç</span>
			    				</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>


<!-- Hakkımda -->
<section class="ftco-about img ftco-section ftco-no-pb" id="about">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 col-lg-5 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img d-flex align-self-stretch align-items-center" style="background-image:url(images/me.png);">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<h1 class="big">VirtuoArt Vault</h1>
		            <h2 class="mb-4">Hakkımda</h2>
		            <p>Fırat Üniversitesi Teknoloji Fakültesi Yazılım Mühendisliği 3.Sınıf Öğrencisi</p>
		            <ul class="about-info mt-4 px-md-0 px-2">
		            	<li class="d-flex"><span>Adı:</span> <span>Asude Timur</span></li>
		            	<li class="d-flex"><span>Doğum Tarihi:</span> <span>21 Ekim 2001</span></li>
		            	<li class="d-flex"><span>Adres:</span> <span>Türkiye</span></li>
		            	<li class="d-flex"><span>Zip code:</span> <span>1000</span></li>
		            	<li class="d-flex"><span>Email:</span> <span>asudetimur7@gmail.com</span></li>
		            	<li class="d-flex"><span>Telefon: </span> <span>+90 553 882 19 89</span></li>
		            </ul>
		          </div>
		        </div>
	          <div class="counter-wrap ftco-animate d-flex mt-md-3">
              <div class="text">
              	<p class="mb-4">
	                <span class="number" data-number="120">0</span>
	                <span>Eser Paylaşıldı</span>
                </p>
                <p><a href="#" class="btn btn-primary py-3 px-3">Eserler</a></p>
              </div>
	          </div>
	        </div>
        </div>
    	</div>
    </section>

<!-- İletişim -->
    <section class="ftco-section contact-section ftco-no-pb" id="communication">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h1 class="big big-2">VirtuoArt Vault</h1>
            <h2 class="mb-4">İletişim</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>

        <div class="row d-flex contact-info mb-5">
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<h3 class="mb-4">Adres</h3>
	            <p>Üniversite, Fırat Ünv., 23119 Elâzığ Merkez/Elazığ</p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<h3 class="mb-4">İletişim Numarası</h3>
	            <p><a href="tel://1234567920">(0424) 237 00 00</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<h3 class="mb-4">Email Adresi</h3>
	            <p><a href="mailto:info@yoursite.com">asudetimur7@gmail.com</a></p>
	          </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex ftco-animate">
          	<div class="align-self-stretch box p-4 text-center">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-globe"></span>
          		</div>
          		<h3 class="mb-4">Website</h3>
	            <p><a href="#">virtuoartvault.com</a></p>
	          </div>
          </div>
        </div>

        <div class="row no-gutters block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="#" class="bg-light p-4 p-md-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Ad Soyad">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Konu">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Mesaj"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          
          </div>

          <div class="col-md-6 d-flex">
          	<div class="img" style="background-image: url(images/about.jpg);"></div>
          </div>
        </div>
      </div>
    </section>

<!-- giriş -->
	<section class="ftco-section ftco-project" id="login">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h1 class="big big-2">VirtuoArt Vault</h1>
                    <h2 class="mb-4">Giriş Yap veya Kaydol</h2>
                    <p>Sanatın çeşitliliğini ve derinliğini keşfetmek için bize katılın.</p>
                </div>
            </div>
            <div class="row">
                <!-- Giriş Formu -->
                <div class="col-md-6">
                    <div class="login-form ftco-animate">
                        <h3>Giriş Yap</h3>
                        <form action="#">
                            <div class="form-group">
                                <label for="login-email">Email</label>
                                <input type="email" id="login-email" class="form-control" placeholder="Email adresinizi girin">
                            </div>
                            <div class="form-group">
                                <label for="login-password">Şifre</label>
                                <input type="password" id="login-password" class="form-control" placeholder="Şifrenizi girin">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Giriş Yap" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Kayıt Formu -->
                <div class="col-md-6">
                    <div class="register-form ftco-animate">
                        <h3>Kaydol</h3>
                        <form action="#">
                            <div class="form-group">
                                <label for="register-name">Ad Soyad</label>
                                <input type="text" id="register-name" class="form-control" placeholder="Adınızı ve soyadınızı girin">
                            </div>
                            <div class="form-group">
                                <label for="register-email">Email</label>
                                <input type="email" id="register-email" class="form-control" placeholder="Email adresinizi girin">
                            </div>
                            <div class="form-group">
                                <label for="register-password">Şifre</label>
                                <input type="password" id="register-password" class="form-control" placeholder="Şifrenizi girin">
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Kaydol" class="btn btn-primary py-3 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
		
  
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  
  <script src="js/main.js"></script>
    
  </body>
</html>
